
extends article

block prepend content
    .warn
      h3 This is a DRAFT ARTICLE
      p It is probably incomplete, wrong, and broken in
        | many respects. Please hesitate from reading this until
        | this work is complete; or just consider yourself warned.
