
extends layout

block append vars
  - bodyclass = 'big-logo'

block content
  !=contents['about_index.md'].html
  each article in env.helpers.getPages(contents, 'articles')
    .article-list
      h2
        a(href=article.url)= article.title
        small= moment.utc(article.date).format('YYYY, MMMM DD')
      .intro
        if article.intro.length > 0
          != typogr(article.intro).typogrify()
